.crop-component-image-box {
    background: #bebebe;
    cursor: default;
    overflow: hidden;
    position: relative;
}

.crop-component-image {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.crop-component-image-selected .crop-component-image-box {
    cursor: move;
}

.crop-component-control {
    margin-top: 1em;
}

.crop-component-control-manipulate {
    display: none;
}

.crop-component-image-selected .crop-component-control-manipulate {
    display: block;
}

.crop-component-input-file {
    display: none;
}

.crop-component-input-rotate,
.crop-component-input-scale {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

.crop-component-downloading .crop-component-download {
    opacity: 0.5;
    pointer-events: none;
}

.crop-component-download-spinner {
    display: none;
    margin-left: 3px;
}

.crop-component-downloading .crop-component-download-spinner {
    display: inline-block;
}

.crop-component-download-spinner div {
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    margin: 0 3px;
    animation: crop-component-download-spinner-animation 1.4s infinite ease-in-out both;
}

.crop-component-download-spinner :nth-child(1) {
    animation-delay: -0.32s;
}

.crop-component-download-spinner :nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes crop-component-download-spinner-animation {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}